body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    padding-top: 100px;
}
.half-width{
    margin-left: 5%;
    width: 40%;
    float: left;
}
.header-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
section{
    height: 500px;
    margin-bottom: 0px;
}
.half-width img{
    width: 100%;
}
.name-color{
    font-size: 55px;
    color: #e23767;
}
.hire-me {
    color: white;
    background: #e23767;
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.full-width{
    margin-left: 5%;
    width: 100%;
    text-align: center;
}
.biography-section{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.work-section{
    background-image: red;
    background-repeat: no-repeat;
    background-position: center;
}
.letest-work{
    text-align: center;
}
.work-img-area{
    width: 25%;
    float: left;
    padding: 0px 20px;
}
.work-img-area img{
    width: 100%;
}
.alige-center{
text-align: center;
}
.cotation{
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
.hero-address{
    background-color: rgb(218, 57, 164);
    margin: 0% 30%;
    padding: 5px 50px;
    color: white;
    border-radius: 7px;
}